.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1080px)  {
    flex-direction: column;
  }
}

.info-container {
  padding: 90px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
}