.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 90px 0;
  background-color: rgba(0, 0, 0, .12);

  @media screen and (max-width: 1080px)  {
    flex-direction: column;
    padding: 25px 0;
  }
}