.title {
  font-size: 0.8rem;
  text-align: center;
  margin: 0 30px;
  margin-bottom: 24px;
  font-weight: 600;

  @media screen and (max-width: 1080px)  {
    font-size: 0.7rem;
  }

  @media screen and (max-width: 410px)  {
    font-size: 0.6rem;
  }
}