.last-update {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: .45rem;
  color: #fff;
  opacity: 0.6;
  font-weight: 400;

  @media screen and (max-width: 450px)  {
    font-size: .35rem;
  }
}